/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
  font-size: 16 px;
  /* background: #afd9f9; */
  /* color: #888; */
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles */
h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 4em;
  margin: 1em;
}
a {
  display: inline-block;
  /* box-sizing: border-box;  */
  margin: 0.5em 1.2em;
  padding: 0em 1em;
  /* width:20%; */
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  text-decoration: none;
  line-height: 2em;
  color: red;
  background-color: beige;
  border-radius: 1em;
}
a:hover {
  color: blueviolet;
  text-decoration: underline;
  box-shadow: 2px 4px 8px grey;
}
.box {
  display: flex;
  justify-content: center;
  min-width: 250px;
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
